<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/community.css">
    <!--    <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>-->
    <title>커뮤니티 만들기</title>

</head>
<body>
<header>
    <div id="logo">
        <a href="/"><img src="image/logo/Logo.png"  alt="Logo">
        </a>
    </div>
    <div class="searchBox">
        <input type="text" class="inputSearch" placeholder="커뮤니티 검색" autocomplete="off">
        <a href="/search"> <button type="submit" class="seachButton">검색</button></a>
    </div>

    <div id = menu>
        <a href="/">로그아웃</a>

    </div>
</header>
<section class="comMake">
<form id="comForm">
    <div class="comCover">
        <label class="title">커뮤니티 이름</label>
        <div class="inputCom">
            <input value="" type="text" class="inputComName" id="c_name" maxlength="50" placeholder="커뮤니티 이름 입력">
        </div>
        <div class="coverSelect">
            <div class="mainCover">
                <img data-cover="/image/cover/dog.jpg" id ="example-img" src="/image/cover/dog.jpg" class="selectedCover" alt="">
            </div>
            <div class="coverList">
                <h3>커버 선택</h3>
                <ul class="list">
                    <span class="coverImageUploader">
                        <label for="addPhoto" class="labelAddPhoto">사진 추가</label>
                        <input type="file" class="imageUpload" id="addPhoto" accept="image/*">
                    </span>
                </ul>
            </div>
        </div>
        <script>
            function readImage(input) {
                if(input.files && input.files[0]) {
                    const reader = new FileReader()
                    reader.onload = e => {
                        const previewImage = document.getElementById("example-img")
                        previewImage.src = e.target.result
                    }
                    reader.readAsDataURL(input.files[0])
                }
            }
            const inputImage = document.getElementById("addPhoto")
            inputImage.addEventListener("change", e => {
                readImage(e.target)
            })
        </script>
        <div class="makeType">
            <label class = "title">커뮤니티 공개</label>
            <div class="type">
                <ul class="typeList">
                    <li class="typeListItem">
                        <input type="radio" value="private" name="comOpenType" id="private" class="checkInput">
                        <span class="checkLabel">
                            <span class="shape"></span>
                            <span class="text">
                                <strong>비공개 커뮤니티</strong>
                                <span class="msg">초대를 통해서만 가입이 가능하며, 커뮤니티와 게시물은 공개되지 않습니다.</span>
                            </span>
                        </span>
                    </li>
                    <li class="typeListItem">
                        <input type="radio" value="closed" name="comOpenType" id="closed" class="checkInput">
                        <span class="checkLabel">
                            <span class="shape"></span>
                            <span class="text">
                            <strong>커뮤니티명 공개커뮤니티</strong>
                            <span class="msg">누구나 검색할 수 있으나, 게시글은 멤버만 볼 수 있습니다.</span>
                             </span>
                        </span>
                    </li>
                    <li class="typeListItem">
                        <input type="radio" value="public" name="comOpenType" id="public" class="checkInput">
                        <span class="checkLabel">
                            <span class="shape"></span>
                            <span class="text">
                            <strong>공개 커뮤니티</strong>
                            <span class="msg">누구나 검색할 수 있으며, 게시글을  볼 수 있습니다.</span>
                             </span>
                        </span>
                    </li>

                </ul>
            </div>

        </div>
        <div class="buttons">
            <button type="button" class="cancel">취소</button>
            <button type="submit"  class="save">완료</button>
        </div>

    </div>


</form>
</section>
</div>
</body>
</html>