<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
    <title>FreeTalk</title>
</head>
<body>
<header class="top-header">
    <nav class="top-nav">
        <ul>
            <li><a href="/login">로그인</a></li>
            <li><a href="#">회원가입</a></li>
            <li><a href="#"><i class="fas fa-bars"></i></a></li>
        </ul>
        <div class="profile_img_wrap">

        </div>
    </nav>
</header>
<section class="main-section">
    <div class="logo-wrap">
        <a href="#"><img src="/image/logo/Logo1.png"></a>
    </div>
    <div class="searchbar-wrap">
        <i class="fas fa-search"></i>
        <input class="search-input" type="text"/>
        <i class="fas fa-keyboard"></i>
    </div>
</section>
<footer>
    <div class="foot-links-wrap">
        <div class="foot-links-wrap-right">
            <ul>
                <li><a href="#">광고</a></li>
                <li><a href="#">비즈니스</a></li>
                <li><a href="#">FreeTalk 정보</a></li>
                <li><a href="#">검색의 원리</a></li>
            </ul>
        </div>
        <div class="foot-links-wrap-left">
            <ul>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">약관</a></li>
                <li><a href="#">설정</a></li>
            </ul>
        </div>
    </div>

    </div>
</footer>
</body>
</html>