<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
    <title>FreeTalk</title>

    <script>
        function search(param){
            var addr = '/search/search?keyword=';
            var txt = document.getElementById("textInput").value;
            window.location.href = addr.concat(txt);
        }
    </script>
</head>
<body>
<header class="top-header">
    <nav class="top-nav">
        <ul>
            <li th:if="${session.user == null}"><a href="/socialLogin">소셜 로그인</a></li>
            <li th:if="${session.user != null}"><a href="/logout">로그아웃</a></li>
<!--            <li><a href="#">회원가입</a></li>-->
            <li><a href="#"><i class="fas fa-bars"></i></a></li>
<!--            사이드 메뉴 추가 (ex: 로그인-> join되어있는 커뮤니티 목록 보이기 -> 바로가기-->
<!--            ex:비로그인 -> 로그인한 사용자만 이용 가능합니다. text-->
        </ul>
        <div class="profile_img_wrap">
        </div>
    </nav>
</header>
<section class="main-section">
    <div class="logo-wrap">
        <a href="/"><img src="/image/logo/Logo1.png"></a>
    </div>
    <div class="searchbar-wrap">
        <i class="fas fa-search"></i>
        <form method="post" enctype="multipart/form-data" action="javascript:search()">
        <input class="search-input" type="text" id="textInput" placeholder="키워드를 입력해 주세요"/>
        </form>
        <i class="fas fa-keyboard"></i>
    </div>
</section>
<footer>
    <div class="foot-links-wrap">
        <div class="foot-links-wrap-right">
            <ul>
                <li><a href="#">광고</a></li>
                <li><a href="#">비즈니스</a></li>
                <li><a href="#">FreeTalk 정보</a></li>
            </ul>
        </div>
        <div class="foot-links-wrap-left">
            <ul>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">약관</a></li>
                <li><a href="#">설정</a></li>
            </ul>
        </div>
    </div>

    </div>
</footer>
</body>
</html>